In [1]:
a = "pwskills"

In [2]:
for i in a:
    print(i)

p
w
s
k
i
l
l
s

In [3]:
for i in a:
    print(i.upper())

P
W
S
K
I
L
L
S

In [4]:
l =[2,3,4,5,6,7,8]
for i in l:
    print(i)

2
3
4
5
6
7
8

In [5]:
for i in l:
    print(i+2)

4
5
6
7
8
9
10

In [6]:
for i in l:
    if i%2==0:
        print(i)

2
4
6
8

In [7]:
l1 = []
for i in l:
    if i%2==0:
        l1.append(i)
print(l1)

[2, 4, 6, 8]

In [8]:
l1 = []
for i in l:
    if i%2!=0:
        l1.append(i)
print(l1)

[3, 5, 7]

In [9]:
l

[2, 3, 4, 5, 6, 7, 8]

In [10]:
for i in l:
    print(i)
else:
    print("this will be executed once for loop will complete succesfully")

2
3
4
5
6
7
8
this will be executed once for loop will complete succesfully

In [11]:
l

[2, 3, 4, 5, 6, 7, 8]

In [12]:
for i in l:
    print(i)
    if i==5:
        break
else:
    print("this will be executed once for loop will complete succesfully")

2
3
4
5

In [13]:
l

[2, 3, 4, 5, 6, 7, 8]

In [14]:
b = 0
for i in l:
    b= b+i

print(b)

35

In [15]:
l2 = [2,3,4,5,5, "sudh", "pwskills", 'collegewallah', "python", 454,6767,False,True]

In [17]:
l_int = []
l_str =[]
l_bool =[]
for i in l2:
    if type(i)==int:
        l_int.append(i)
    elif type(i)==str:
        l_str.append(i)
    elif type(i) == bool:
        l_bool.append(i)

In [18]:
l_int

[2, 3, 4, 5, 5, 454, 6767]

In [19]:
l_bool

[False, True]

In [20]:
l_str

['sudh', 'pwskills', 'collegewallah', 'python']

In [21]:
t =(3,4,5,6,76,"sudh","pwskills")

In [22]:
for i in t:
    print(i)

3
4
5
6
76
sudh
pwskills

In [23]:
d = {'name':'sudhanshu', 'age': 30, 'subject': ['data science','big data','data analytics', 'data straucture algorithm','programming language'] }

In [24]:
d

{'name': 'sudhanshu',
 'age': 30,
 'subject': ['data science',
  'big data',
  'data analytics',
  'data straucture algorithm',
  'programming language']}

In [27]:
for i in d.items():
    print(i)

('name', 'sudhanshu')
('age', 30)
('subject', ['data science', 'big data', 'data analytics', 'data straucture algorithm', 'programming language'])

In [28]:
for i in d.keys():
    print(i)

name
age
subject

In [31]:
for i in d.values():
    print(i)

sudhanshu
30
['data science', 'big data', 'data analytics', 'data straucture algorithm', 'programming language']

In [33]:
for i in d.values():
    if type(i)==list:
        print(i)

['data science', 'big data', 'data analytics', 'data straucture algorithm', 'programming language']

In [35]:
for i in d.values():
    if type(i)==list:
        print('big data' in i)

True